@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//Variables para colores
$color-dark-blue: rgb(24, 39, 71);
$color-dark-red: rgb(86, 43, 8);
$color-light-green: rgb(100, 126, 104);
$color-light-gray: rgb(216, 216, 216);

//Variables tamaño de letras
$text-large: 2.8rem;
$text-medium: 1.4rem;
$text-small: 1.2rem;
$text-base: 1rem;
$text-xsmall: 1rem;
